.container {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.main-top1{
    /*background: url("../image/z1.jpg");*/
    box-shadow:  10px 10px 10px rgba(0, 0, 0, 0.45);
    width: 80%;
    height: 500px;
    margin: 0 auto;

}
h2{
    font-size: 20px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.49), 0 6px 6px rgba(0, 0, 0, 0.63);
    text-transform: uppercase;
    margin-bottom: 10px;
}
h1{
    font-size: 60px;
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.49), 0 6px 6px rgba(0, 0, 0, 0.63);
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 30px;
}
img{
    width: 100%;
    height: 100%;
}

.table{
    width:80%;
    height:400px;
    text-align: center;
    margin: 0 auto;
    font-family: "Microsoft Sans Serif" , "Arial Black";
    text-shadow: 0 10px 20px rgba(0, 0, 0, 0.49), 0 6px 6px rgba(0, 0, 0, 0.63);
    box-shadow: 0 0px 0px rgba(4, 26, 62, 0.5);
}
table {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}
table caption {
    font-size: 1.5em;
    margin: .5em 0 .75em;
}
table tr {
    background: rgba(0,0,0,0.35);
    border: 1px solid #ddd;
    padding: .35em;
}
table th,
table td {
    padding: .625em;
    text-align: center;
}
table th {
    font-size: .85em;
    letter-spacing: .1em;
    text-transform: uppercase;
}
@media screen and (max-width: 600px) {
    table {
        border: 0;
    }
    table caption {
        font-size: 1.3em;
    }
    table thead {
        border: none;
        clip: rect(0 0 0 0);
        height: 1px;
        margin: -1px;
        overflow: hidden;
        padding: 0;
        position: absolute;
        width: 1px;
    }
    table tr {
        border-bottom: 3px solid #ddd;
        display: block;
        margin-bottom: .625em;
    }
    table td {
        border-bottom: 1px solid #ddd;
        display: block;
        font-size: .8em;
        text-align: right;
    }
    table td:before {
        /*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
        content: attr(data-label);
        float: left;
        font-weight: bold;
        text-transform: uppercase;
    }
    table td:last-child {
        border-bottom: 0;
    }
}